.panel.panel-default#complain_block
  .panel-heading#complain
    %h4
      %span.glyphicon.glyphicon-envelope
      Сообщить о неточности
  .panel-body#complain_form
    .container
      .row#messages
      .row
        .col-md-6.margin-l5.padding-10
          %textarea.form-control.auto-width#body{ cols:"55", rows: "5", placeholder: "Неточность в salary.xls:" }
      .row
        .col-md-3
          %input.form-control#password{ placeholder:"Пароль от почты", type: "password"}
        .col-md-3.padding-l0
          %button.btn.btn-primary.width-100#complain_button
            Отправить
