.well.height-76
  - username = session[:current_user]
  %form{ action: "/logout", method: "GET", enctype:'multipart/form-data' }
    .container
      .row
        .col-md-3
          %p.margin-lm15
            Вы вошли под пользователем 
          %p.margin-lm15.margin-tm10
            #{ username }!
        .col-md-3.padding-l0{style: 'margin-left: -5px'}
          %button.btn.btn-primary.width-100{ type: "submit"}='Выйти'
