.panel.panel-default
  .panel-heading
    %h3
      1. Выберите период:
  .panel-body
    %form{ action: "/period", method: "POST" }
      .container
        .row
          .col-md-3
            %select.chosen-select-deselect#periods{ name: "period", style: 'width: 200px'}
              - @periods.each do |period|
                - selected = session[:period] == period
                %option{value: "#{period}", selected: selected }=translate_period(period)
          .col-md-3
            %button{ type: "submit", class: 'btn btn-primary btn-xs', style: "width: 76px;" }='Установить'


