.panel.panel-default
  .panel-heading
    %h3
      2. Выберите cотрудника:
  .panel-body
    %form{ action: "/user", method: "POST" }
      .container
        .row
          .col-md-3
            %select.chosen-select-deselect.width-250#users{ name: "name", "data-placeholder" => "Выберите сотрудника"}
              - @users.keys.sort.each do |name|
                - selected = @selected_user && @selected_user[:name] == name
                %option{value: "#{URI.encode(name)}", selected: selected }=name
          .col-md-3.padding-l0
            %button.btn.btn-primary.width-100{ type: "submit" }='Показать'

