.row
  .col-md-7.padding-9-5
    .panel.panel-default.height-76
      .panel-body.margin-tm10
        = haml :_user_info
  .col-md-5.padding-9-5
    = haml :_logout
    - unless @periods.empty?
      = haml :_period_selection
    - if session[:period] && !@users.empty?
      = haml :_user_selection
