.row
  .col-md-4.col-md-offset-4.login-form
    - unless flash.empty?
      %p
        %span.label.label-danger
          #{ flash[:error] }
    %form.form-signin{ role: "form", action: "/login", method: "POST" }
      %input.form-control.login-bottom-radiuses{ type: "text", name: "username", placeholder: "Логин", value: "#{session[:user_login]}"}
      %input.form-control.login-top-radiuses{ type: "password", name: "password", placeholder: "Пароль" }
      %p
        %button.btn.btn-lg.btn-primary.btn-block.margin-t20{ type: "submit" }='Войти'
