.panel.panel-default
  .panel-heading
    %h3
      1. Выберите период:
  .panel-body
    .row-fluid
      .col-xs-8
        %select.chosen-select-deselect#periods{ name: "period" }
          - @periods.each do |period|
            - selected = session[:period] == period
            %option{value: "#{period}", selected: selected }=translate_period(period)
